<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/bundle.js" type="text/javascript"></script>
    <!-- polyfill -->
    <script src="/static/js/node_modules/midi/inc/shim/Base64binary.js" type="text/javascript"></script>
    <script src="/static/js/node_modules/midi/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <!-- jasmid package -->
    <script src="/static/js/node_modules/midi/inc/jasmid/stream.js"></script>
    <script src="/static/js/node_modules/midi/inc/jasmid/midifile.js"></script>
    <script src="/static/js/node_modules/midi/inc/jasmid/replayer.js"></script>
    <!-- midi.js package -->
    <script src="/static/js/node_modules/midi/js/midi/audioDetect.js" type="text/javascript"></script>
    <script src="/static/js/node_modules/midi/js/midi/gm.js" type="text/javascript"></script>
    <script src="/static/js/node_modules/midi/js/midi/loader.js" type="text/javascript"></script>
    <script src="/static/js/node_modules/midi/js/midi/plugin.audiotag.js" type="text/javascript"></script>
    <script src="/static/js/node_modules/midi/js/midi/plugin.webaudio.js" type="text/javascript"></script>
    <script src="/static/js/node_modules/midi/js/midi/player.js" type="text/javascript"></script>
    <script src="/static/js/node_modules/midi/js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <!-- utils -->
    <script src="/static/js/node_modules/midi/js/util/dom_request_xhr.js" type="text/javascript"></script>
    <script src="/static/js/node_modules/midi/js/util/dom_request_script.js" type="text/javascript"></script>
</head>
<body>
<h2>Auto-Harmonization with Machine Learning</h2>
<p>Select a melody from the dropdown:</p>
<select id="songs" name="songlist"></select>
<p>Press a play mode for the song:</p>
<button id="melody" onclick="playSong(this, false)">Melody only</button>
<button id="lstm" onclick="playSong(this, true, 'discrete_numeric_lstm')">LSTM harmony</button>
<button id="hmm" onclick="playSong(this, true, 'discrete_numeric_hmm')">HMM harmony</button>
<script type="text/javascript">
var SONG_NAME = 'dancing_queen_tdc',
    SECONDS_PER_BEAT = 2,
    HARMONY_OCTAVE = 3,
    MELODY_VELOCITY = 70,
    HARMONY_VELOCITY = 60,
    currentHarmony = null,
    currentMelody = null,
    songList = null;

function playSong(btn, playHarmony, modelName) {
    var dropdown = document.getElementById('songs'),
        songname = dropdown.value;

    changeSong(songname, modelName, function() {
        var property = document.getElementById(btn.id);
        var oldBackground = property.style.backgroundColor;

        property.style.backgroundColor = '#504caf';

        // Wait no more than 2 beats to start playing.
        var offset = Math.max(Math.floor(currentMelody[0]['beat']) - 2, 0);
        player.playMelody(currentMelody, SECONDS_PER_BEAT, MELODY_VELOCITY, offset);

        if (playHarmony) {
            player.playHarmony(currentHarmony, SECONDS_PER_BEAT, HARMONY_OCTAVE, HARMONY_VELOCITY, offset);
        }
        var lastBeat = currentMelody[currentMelody.length - 1]['beat'] - offset;

        setTimeout(function() {
            property.style.backgroundColor = oldBackground;
        }, lastBeat * SECONDS_PER_BEAT * 1000);
    });
}

function getSongList() {
    $.ajax({
        type: 'get',
        url: '/songs/get_song_list',
        success: function(songs) {
            songList = songs;
            Object.keys(songs).sort().forEach(function(prettyName) {
                $('<option value="'+ songs[prettyName] +'">' + prettyName + '</option>').appendTo('#songs');
            });
        }
    });
}

function changeSong(songname, model, done) {
    $.ajax({
        type: 'get',
        url: '/melody/get_sequence/' + songname,
        success: function (melody) {
            currentMelody = melody;
            if (model == null) { return done(); }
            $.ajax({
                type: 'get',
                url: '/harmony/generate_from_csv/' + model + '/' + songname,
                success: function (harmony) {
                    currentHarmony = harmony;
                    done();
                }
            });
        }
    });
}

window.onload = function () {
    player.load({
        soundfontUrl: "/static/midi-js-soundfonts/FluidR3_GM/",
        instruments: ["acoustic_bass", "acoustic_guitar_nylon", "acoustic_grand_piano"],
        channels: {
            0: "acoustic_guitar_nylon",
            1: "acoustic_grand_piano"
        }
    }, function(err) {
        getSongList();
    });
};
</script>
</body>
</html>
